<div>

<h2>Iniciar Sesion</h2>


<form action="/auth/login" method = "post">


<label for="username">Nombre de Usuario: </label>
<input type="text" name="username">

<br>

<label for="password">Contraseña: </label>
<input type="password" name="password">

<br>

<p class="errorMsg" >{{errorMessage}}</p>

<br>


<button>Iniciar sesion</button>

</form>