<div>

<h2>sign up page</h2>


<form action="/auth/signup" method="post">


<label for="username">username</label>
<input type="text" name="username">

<br>

<label for="password">password</label>
<input type="password" name="password">

<br>

<p class="errorMsg" >{{errorMessage}}</p>

<br>


<button>Create</button>

</form>



</div>