<div class="login-container">

<h2>Registrarse</h2>


<form action="/auth/signup" method="post">


<label for="username">Nombre de Usuario: </label>
<input type="text" name="username">

<br>

<label for="password">Contraseña: </label>
<input type="password" name="password">

<br>

<p class="errorMsg" >{{errorMessage}}</p>

<br>


<button>Crear</button>

</form>



</div>